* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#parent {
  list-style: none;
  width: 90%;
  background: #fff;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

#mxqrz {
  font-style: italic;
  height: 100%;
}

#submit {
  background-image: url('../assets/to-left.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  width: 40px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  text-indent: -99999px;
  padding: 0 0.2rem;
}

input {
  border: none;
  font-size: 15px;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

ul {
  list-style: none;
}

.handb {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;
  color: #545862;
  font-size: 15px;
}

.tick {
  height: 16px;
  width: 16px;
  background: inherit;
  border: 2px solid #c1c1c3;
  outline: none;
  margin-right: 1rem;
  cursor: pointer;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.check {
  background-image: url('../assets/check.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
}

.txtarea {
  justify-content: start;
  padding-right: 0;
}

.center {
  position: relative;
  width: 100%;
  height: 100%;
}

.center label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.fade {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}

.center input,
.center textarea {
  display: none;
  width: 100%;
  height: 100%;
  border: 0;
  background: inherit;
  resize: none;
  padding: 15px 0;
  font-size: 15px;
  overflow: hidden;
}

.ic {
  display: inline-block;
  stroke: #545862;
  margin-left: 1rem;
  height: 50px;
  padding: 0 1rem;
  box-sizing: content-box;
}

.trn {
  font-size: 10px;
  transform: rotateZ(90deg);
}

.btnp {
  width: 100%;
  height: 60px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnp button {
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.edit {
  background: rgb(255, 254, 202);
}

form.handb {
  padding-right: 0;
}

@media (min-width: 992px) {
  #parent {
    width: 30%;
  }
}
